@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  counter-reset: page 1;
}

.cover {
  page: blank;
  height: 297mm;
  width: 210mm;
  border-left: 50px solid #{primary_color};
  padding: 2cm;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-container {
  width: 150px;
}

.logo {
  max-width: 100%;
  height: auto;
}


h1 {
  color: black;
  font-size: 32pt;
  text-align: left;
  hyphens: none;
  word-wrap: normal;
  white-space: normal;
  line-height: 1.2;
  word-spacing: normal;
  margin: 4cm 0 0 0;
  padding: 0;
  flex-grow: 1;
}


.date {
  color: black;
  font-size: 12pt;
  text-align: center;
  margin-top: auto;
  padding-top: 2cm;
}

@page {
  size: letter;
  margin: 0;
}

@page :first {
  margin: 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
  table-layout: fixed;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

table, th, td, tr {
  border: 1px solid #585757;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
  font-size: 9pt;
}

tr:hover {
  background-color: #{primary_color};
}

th {
  background-color: #{accent_color};
  color: #ffffff; /* Set text color for table headers */
}

tr:nth-child(even) {
  background-color: #e3e3e3;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.paragraph {
  margin-bottom: 1rem;
}

.code-block {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 87.5%;
  color: #212529;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
}

.inline-code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}


@page :first {
  @top-left {
      content: none;
  }
  @top-center {
      content: none;
  }
  @top-right {
      content: none;
  }

  @bottom-right {
      content: normal;
  }
  margin: 0;
}

@page blank {
  @bottom-right {
      content: normal;
  }
}

@page {
  size: letter;
  margin: 2.5cm;
  @bottom-right {
      content: counter(page);
  }
  @top-left {
      background: #{primary_color};
      content: counter(page);
      height: 1cm;
      text-align: center;
      width: 1cm;
      margin-bottom: 1cm;
  }
  @top-center {
      background: #{primary_color};
      content: '';
      display: block;
      height: .05cm;
      opacity: .5;
      width: 100%;
      margin-bottom: 1cm;
  }
  @top-right {
      content: string(heading);
      font-size: 9pt;
      height: 1cm;
      vertical-align: middle;
      width: 100%;
      margin-bottom: 1cm;
  }
}

@page :blank {
  @top-left { background: none; content: '' }
  @top-center { content: none }
  @top-right { content: none }
}

.content-start {
  page-break-before: always;
}


.section {
    page-break-after: always;
}

html {
    color: black;
    font-family: 'Open Sans';
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.5;
}


h2, h3, h4 {
    color: black;
}

h2 {
    font-size: 20pt;
    border-bottom: 1px solid #{primary_color};
    padding-bottom: 0.1em;
    font-weight: 700;
}

h3 {
    font-size: 16pt;
    font-weight: 500;
}

h4 {
    font-size: 14pt;
    font-weight: 400;
}

h5 {
    font-size: 12pt;
    font-weight: 300;
}

h6 {
    font-size: 11pt;
    font-style: italic;
}

#cover {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 297mm;
}

#contents {
  break-before: right;
  break-after: left;
  page: no-chapter;
}

#contents h2 {
    font-size: 20pt;
    font-weight: 700;
    margin-bottom: 1cm;
}

#contents h3 {
    font-weight: 500;
    margin: 3em 0 1em;
}

#contents h3::before {
    background: black;
    content: '';
    display: block;
    height: .08cm;
    margin-bottom: .25cm;
    width: 2cm;
}

#contents ul {
    list-style: none;
    padding-left: 0;
}

#contents ul li {
    border-top: .25pt solid #73777a;
    margin: .25cm 0;
    padding-top: .25cm;
}

#contents ul li::before {
    color: #{accent_color};
    content: '• ';
    font-size: 40pt;
    line-height: 16pt;
    vertical-align: bottom;
}

#contents ul li a {
  color: inherit;
  text-decoration-line: inherit;
}

#contents ul li a::before {
    content: target-text(attr(href));
}

#contents ul li a::after {
  color: #{primary_color};
  float: right;
}

.plot {
    max-width: 100%;
    height: auto;
}

.caption {
    font-style: italic;
    font-size: 8pt;
    font-weight: 700;
    color: black;
    text-align: center;
}